html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ffffff;
}

.page-wrap {
  height: 100%;
  overflow: auto;
}

.page {
  min-height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dddddd;
}
.page > img {
  display: block;
  min-width: 40%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}